
@{
    ViewBag.Title = "BattleSetup";
}

<h2>BattleSetup</h2>

<form action="Battle" method="get">
    <input type="number" name="poke1" />
    <input type="number" name="poke2" />
    <input type="submit" />
</form>